.root {
  background-color: navajowhite;
}

div {
  color:olive;
  background-color: mintcream;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.pet-box {
  flex-direction: row;
  padding: 5px;
  margin: 5px;
}

p {
  padding: 3px;
  color:rgb(170, 177, 238)
}

img {
  border-radius: 30px;
  max-width: 50vw;
}